.clickmebutton {
  background-color: blue;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.clickmebutton:hover {
  padding: 15px;
}

.textinput:focus {
  background-color: green;
}

input:checked {
  border: 2px solid red;
}

input[type="text"] {
  border: 2px solid blue;
}

input:required {
  width: 200px;
}

a:active {
  color: red;
}

a:link {
  color: green;
}

a:visited {
  color: violet;
}

input:out-of-range {
  border: 1px solid red;
}

input:in-range {
  border: 3px solid green;
}

input:read-only {
  background-color: gray;
}
