.logoimage {
  width: 75px;
}
nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}
nav {
  display: inline;
  text-align: 250%;
}

.textcenter {
  text-align: center;
}

.halfWidth {
  width: 30%;
  display: inline-block;
}

.thirdwidth {
  width: 32%;
  display: inline-block;
  text-align: center;
}
