input:focus {
  outline: 2px solid rgb(151, 151, 7);
}

/* #cardnumber:in-range {
  outline: 2px solid green;
} */

/* #cardnumber:empty {
  outline: none;
} */

#cardnumber:out-of-range {
  outline: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid red;
}

button:hover {
  background-color: gray;
}

input:placeholder-shown {
  border: 2px solid black;
}
