body {
  background-image: url(https://images.unsplash.com/photo-1511185307590-3c29c11275ca?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  /* box-sizing: border-box;
  height: 100%;
  width: 100%; */
  /* margin: 0; */
}
div {
  padding: 30px 0;
  width: 800px;
  margin: 40px auto;
  background-color: rgb(225, 223, 223);
}

h1 {
  text-align: center;
  width: 300px;
  margin: auto;
  padding: 0px 0px 50px 0px;
}

div form {
  width: 700px;
  margin: auto;
}
input {
  width: 696px;
  /* margin: auto; */
  background: none;
  margin: 1px 0 20px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  padding: 5px 0;
}

input:focus {
  outline: none;
}

textarea {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  width: 700px;
  outline: none;
}

.arealabel {
  color: rgb(117, 114, 114);
}

button {
  margin: 20px 0;
  width: 150px;
  background-color: black;
  color: white;
  border: none;
  padding: 5px 0;
}

form {
  width: 700px;
}
