.pm {
  color: skyblue;
}

nav a.blu {
  color: blue;
}
body {
  font-family: "Roboto", sans-serif;
}

.zaliabalta {
  color: green;
}

p.trp {
  line-height: 2;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}
